@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.button-primary {
	@apply bg-darkOliveGreen
	text-white
	text-base 
	p-3 
	leading-4 
	rounded-[2.5rem]
	shadow-md;
}

.button-base {
	@apply text-base 
	p-3 
	leading-4 
	rounded-[2.5rem]
	shadow-md;
}

/* ::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: black;
	border-radius: 4px;
}
::-webkit-scrollbar-thumb {
	background: lightblue;
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background: blue;
}
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
	display: none;
} */
